a{
    text-decoration: none;
}
.desktop-top{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top:1rem;
    
}
.app-icon{
    
    width:4rem;
    
}
.app-icon-container{
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.app-icon-title {
    margin:0;
    
}
.myProjectsTitle{
    font-weight: 600;
    margin: 0;
}

.app-icon-container:hover{
    cursor: pointer;
	background-color: rgba(218, 228, 240, 0.95);
    
    
}
